.idea/
settings_email.py
env/
*.pyc
*.pyo
*.sqlite3
*.sqlite
*.pid
*.log
celerybeat-schedule
.swp
*~

# custom rules
RUN

# ignore STATIC_ROOT folder
swissrugbystats/static

# ignore MEDIA_ROOT folder
swissrugbystats/media

