.idea/
settings_email.py
env/
venv/
win_env/
*.pyc
*.pyo
*.sqlite3
*.sqlite
*.pid
*.log
celerybeat-schedule
.swp
*~
**.log

# custom rules
RUN

# ignore STATIC_ROOT folder
staticfiles

# ignore MEDIA_ROOT folder
swissrugbystats/media

# ignore .env file, to protect valid information
.env
