BeautifulSoup
Django==1.9
Markdown
Pillow
PyJWT
argparse
django-admin-conf-vars
django-cors-headers
django-crispy-forms
django-filter
django-resized
django-simple-history
djangorestframework
djangorestframework-jwt
pytz
requests
wsgiref

